Django>=4.1,<5.0
setuptools
django
django-enumfield
django-prometheus
psycopg2-binary
whitenoise
channels
daphne
channels_redis
requests
Pillow
django-otp
pyotp
qrcode
djangorestframework 
djangorestframework-simplejwt
